@model IEnumerable<object>

<div>
    <h3>Audit Trials</h3>
</div>

<table class="table">
    <thead>
        <tr>
            @if (Model != null && Model.Any())
            {
                var firstItem = Model.FirstOrDefault();
                if (firstItem != null)
                {
                    foreach (var prop in firstItem.GetType().GetProperties())
                    {
                        <th>@prop.Name</th>
                    }
                }
            }
        </tr>
    </thead>

    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    @foreach (var prop in item.GetType().GetProperties())
                    {
                        <td>@prop.GetValue(item, null)</td>
                    }
                </tr>
            }
        }
    </tbody>
</table>
