@model Book
@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label asp-for="BookTitle" class="control-label"></label>
                <input type="hidden" asp-for="Id" class="form-control" />
                <input asp-for="BookTitle" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="BookType" class="control-label"></label>
                <input asp-for="BookType" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="BookDescription" class="control-label"></label>
                <input asp-for="BookDescription" class="form-control" />

            </div>

            <div class="form-group">
                <label asp-for="BookAuthor" class="control-label"></label>
                <input asp-for="BookAuthor" class="form-control" />

            </div>

            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
